body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.1rem;
  background: transparent;

}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.1rem;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.9);
  border-radius: 0.1rem;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.7);
}

.prevent-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.sample-drag-bar {
  flex-shrink: 0;
  width: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: col-resize;
  transition: background-color 0.15s 0.15s ease-in-out;
}

.sample-drag-bar:hover {
  background-color: #1890ff;
}

.react-swipeable-view-container {
  height: 100% !important;
}

.swippe-box>div {
  height: 100%;
}

/* .rc-md-editor .rc-md-navigation {
  background-color: transparent !important;
  color: white;
}

.rc-md-editor .editor-container .sec-md .input {
  background-color: transparent !important;
  color: var(--mui-palette-primary-main) !important;
  font-family: -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
} */

/* .dark_editor {
  --jd-color-background-default: #417505;
  --jd-color-border: #474025;
  --jd-color-panel: #5fd3a2;
  --jd-color-icon: #8b572a;
} */
/* 
.jodit_theme_dark {
  background-color: var(--mui-palette-primary-main) !important;
} */

/* .jodit-container, .jodit-wysiwyg, .jodit-workplace {
  background-color: transparent !important;
}

.jodit_theme_dark > .jodit-toolbar__box {
  background-color: #1a1c1e !important;
  z-index: 10000000 !important;
}

.jodit-status-bar {
  display: none !important;
} */